body{
    background-color: #333333;
}
.navbarh{
    position: absolute;
    background-color: black;
    width: 100%;
    height:75px;
    top:0px;
    left:0px;
}
#citySearchh{
        position: relative;
        background-color:#FFFFFF;
        width:20%;
        height:30px;
        border-radius: 30px;
        text-align: center;
        left:75%;
        top:19px;
    }


.barh{
    position: absolute;
    background-color:#FFFFFF;
    width:30%;
    height:50px;
    border-radius: 20px;
    left:15%;
    top:10px;
}

#Titleh{
    position:absolute;
    font-size: 35px;
    color:white;
    left:1%;
    bottom:0.01px;
    /* font-family: 'Brush Script MT', cursive; */
    font-family: Garamond, serif;
 
}

#weatherh{
    position: absolute;
    top:10px;
    font-size:21px;
    color:black;
    left:4px;
    background-color: #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 560;
    display:inline;
    border-left: #333333;
    border-top: #333333;
    border-bottom: #333333;
}
#searchh{
    position:absolute;
    background-color: black ;
    border:none;
    left:96%;
    top:26%;
}
#searchh svg{
    fill:white;
}
#aqibuth{
    position: absolute;
    top:10.5px;
    font-size:21px;
    color:black;
    left:20%;
    background-color: #FFFFFF;
    border-style: none;
    border-radius: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 560;
    
}
