body{
    background-color: #333333;
    width:100%;
    height:100%;
    
    
}
.navbar{
    position: absolute;
    background-color: black;
    width: 100%;
    height:75px;
    top:0px;
    left:0px;
}
#city{
    position: relative;
    background-color:#FFFFFF;
    width:20%;
    height:30px;
    border-radius: 30px;
    text-align: center;
    left:75%;
    top:19px;
}

.bar{
    position: absolute;
    background-color:#FFFFFF;
    width:30%;
    height:50px;
    border-radius: 20px;
    left:15%;
    top:10px;
}

#Title{
    position:absolute;
    font-size: 35px;
    color:white;
    left:1%;
    bottom:0.01px;
    font-family: Garamond, serif;
 
}

#home{
    position: absolute;
    top:6px;
    font-size:26px;
    color:black;
    left:4px;
    background-color: #FFFFFF;
    border-style: none;
    border-radius: 20px;
    font-family: Palatino,serif;
    font-weight: 560;
}

#greet{
    font-size:30px;
    color:white;
    position:absolute;
    top:10%;
    left:15px;
    font-family:serif;
}

.weather{
    position: absolute;
    background-color: #CCCCCC;
    width:80%;
    height:40%;
    border-radius: 25px;
    left:10%;
    top:35%;
}
.weather2{
    position: absolute;
    background-color: #CCCCCC;
    width:80%;
    height:40%;
    border-radius: 25px;
    left:10%;
    top:83%;
}

.qContainer{
    position: absolute;
    background-color: #333333;
    width:60%;
    height:10%;
    left:18%;
    top:23%;
    position:absolute;
    font-size:18px;
    color:white;
    display:flex;
    justify-content: center;
    text-align: center;
}
#quote{
   align-self: baseline;
}
#author{
    align-self: flex-end;
}
#search{
    position:absolute;
    background-color: black ;
    border:none;
    left:96%;
    top:26%;
}
#search svg{
    fill:white;
}

#cityName{
    text-align: center;
    font-size: 32px;

}
