body{
    background-color: #333333;
    width:100%;
    height:100%;
    
    
}
.navbar{
    position: absolute;
    background-color: black;
    width: 100%;
    height:75px;
    top:0px;
    left:0px;
}
#city{
    position: relative;
    background-color:#FFFFFF;
    width:20%;
    height:30px;
    border-radius: 30px;
    text-align: center;
    left:75%;
    top:19px;
}

.bar{
    position: absolute;
    background-color:#FFFFFF;
    width:30%;
    height:50px;
    border-radius: 20px;
    left:15%;
    top:10px;
}

#Title{
    position:absolute;
    font-size: 35px;
    color:white;
    left:1%;
    bottom:0.01px;
    font-family: Garamond, serif;
 
}

#home{
    position: absolute;
    top:10px;
    font-size:21px;
    color:black;
    left:4px;
    background-color:#FFFFFF;
    border-width:2px;
    border-radius: 20px 0px 0px 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 560;
    border-left: #333333;
    border-top: #333333;
    border-bottom: #333333;
    width:16%;
}

#aqibut{
    position: absolute;
    top:9.7px;
    font-size:21px;
    color:black;
    left:18%;
    background-color: #FFFFFF;
    border-style: none;
    border-radius: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 560;
}

#greet{
    font-size:30px;
    color:white;
    position:absolute;
    top:10%;
    left:15px;
    font-family:serif;
}

.weather{
    position: absolute;
    background-color: #CCCCCC;
    width:77%;
    height:40%;
    border-radius: 25px;
    left:11.5%;
    top:35%;
}
.weather2{
    position: absolute;
    background-color: #CCCCCC;
    width:77%;
    height:47%;
    border-radius: 25px;
    left:11.5%;
    top:120%;
}
#common{
    position: relative;
    top:-2%;
    font-size: 25px;
    width:100%;
    text-align: center;
}
.qContainer{
    position: absolute;
    background-color: #333333;
    width:60%;
    height:10%;
    left:18%;
    top:23%;
    position:absolute;
    font-size:18px;
    color:white;

}
#quote{
   position:relative;
   top:-40%;
 
   text-align: center;
   height:75%;
   left:2%;
}
#author{
    position:relative;
   top:-63%;
   left:5%;
   
   text-align: right;
}
#search{
    position:absolute;
    background-color: black ;
    border:none;
    left:96%;
    top:26%;
}
#search svg{
    fill:white;
}

#cityName{
    position: relative;
    top:5px;
    text-align: center;
    font-size: 32px;

}

#temp{
    position:absolute;
    font-size:115px;
    color:black;
    left:16%;
    top:28%;
    font-weight: 500;
    width:9%;
    text-align: right;

}
#deg{
position:absolute;
font-size: 57px;
font-weight: 600;
left:25%;
top:33%;
}
#cel{
color:#333333;
font-size:47px;
position:absolute;
left:25%;
top:48%;
}
#feels{
    position: absolute;
    color:black;
    font-size: 20px;
    top:68%;
    left:16%;
   
}
#feelsLike{
    position: absolute;
    color:black;
    font-size: 20px;
    top:68%;
    width:1.62%;
    left:24.5%;
    text-align:right;
}
#degcel{
    position: absolute;
    color:black;
    font-size: 20px;
    top:68%;
    left:26%;
}
#time{
    position: absolute;
    color:black;
    font-size: 14px;
    right:3%;
    top:10px;
    font-size:25px;
}

#humidity{
    position: absolute;
    color:black;
    font-size: 21px;
    right:35%;
    top:50%;
    font-weight:600;
    
}

#wind{
    position: absolute;
    color:black;
    font-size: 21px;
    right:39%;
    top:30%;
    font-weight:600;
}
#aqi{
    position: absolute;
    color:black;
    font-size: 21px;
    right:39%;
    top:70%;
    font-weight:600;
    width:5%;
    text-align: left;
    
}
#humidval{
    position: absolute;
    color:black;
    font-size: 21px;
    right:32%;
    top:50%;
    
}

#windval{
    position: absolute;
    color:black;
    font-size: 21px;
    right:35%;
    top:30%;
}
#aqival{
    position: absolute;
    color:black;
    font-size: 21px;
    right:9%;
    top:70%;
    width:30%;
    text-align: left;
}
#km{
    position: absolute;
    color:#333333;
    font-size: 21px;
    right:30%;
    top:30%;
    font-weight: bolder;
}
#percent{
    position: absolute;
    color:#333333;
    font-size: 21px;
    top:50%;
    right:30%;
    font-weight: bolder;
}

.parambox{
    position: absolute;
    display: flex;
    background-color: #333333;
    width:77%;
    height:40%;
    border-radius: 25px;
    left:11.5%;
    top:85%;
    justify-content: space-between;
}
.headers{
    display: flex;
    height:11%;
    justify-content: space-evenly;
}
.places{
    display: flex;
    position: absolute;
    height:60%;
    width:15%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left:1%;
}
.tempbox{
    display: flex;
    height:60%;
    width:9%;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left:14%;
    top:32%;
}
.mintempbox{
    display: flex;
    height:60%;
    width:9%;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left:38%;
    top:32%;
}
.maxtempbox{
    display: flex;
    height:60%;
    width:9%;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left:50%;
    top:32%;
}
.feelbox{
    display: flex;
    height:60%;
    width:10%;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left:24.5%;
    top:32%;
}
.placewind{
    display: flex;
    height:60%;
    width:10%;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left:63%;
    top:32%;
}
.placerise{
    display: flex;
    height:60%;
    width:10%;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left:75%;
    top:32%;
}
.placeset{
    display: flex;
    height:60%;
    width:10%;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left:87%;
    top:32%;
}
#cloudPct{
    background-color: #CCCCCC;
    width:22%;
    height:62%;
    border-radius: 25px;
    left:11.5%;
    top:30%;
}
#cloudtitle{
    position: relative;
    color:black;
    font-size: 26px;
    left:29%;
    top:-2%;

}
#cloudpct{
    position: absolute;
    color:black;
    font-size: 30px;
    text-align: center;
    left:9%;
    top:30%;
    width:4%;
    font-weight:600;
    
}
#minTemp{
    background-color: #CCCCCC;
    width:22%;
    height:62%;
    border-radius: 25px;
    left:11.5%;
    top:30%;
}
#mintemptitle{
    position: relative;
    color:black;
    font-size: 26px;
    left:29%;
    top:-2%;

}
#mintempdeg{
    position: relative;
    color:black;
    font-size: 23px;
    left:52.5%;
    top:8%;
    font-weight:600;
}
#mintempval{
    position: absolute;
    color:black;
    font-size: 30px;
    text-align: right;
    width:3.5%;
    left:33.5%;
    top:30%;

    font-weight:600;
}
#Cel{
    position: relative;
    color:#333333;
    font-size: 30px;
    left:57.5%;
    top:-6%;
    font-weight:600;
}
#maxTemp{
    background-color: #CCCCCC;
    width:22%;
    height:62%;
    border-radius: 25px;
    left:11.5%;
    top:30%;
}
#maxtemptitle{
    position: relative;
    color:black;
    font-size: 26px;
    left:29%;
    top:-2%;

}
#maxtempdeg{
    position: absolute;
    color:black;
    font-size: 23px;
    left:63.7%;
    top:29.5%;
    font-weight:600;
}

#maxtempval{
    position: absolute;
    color:black;
    font-size: 30px;
    left:59.5%;
    top:29%;
    font-weight:600;
    text-align: right;
    width:3.5%;
    
}
#Celmax{
    position: relative;
    color:#333333;
    font-size: 30px;
    left:58%;
    top:5.4%;
    font-weight:600;
}
#windDeg{
    background-color: #CCCCCC;
    width:22%;
    height:62%;
    border-radius: 25px;
    left:11.5%;
    top:30%;
}
#winddegtitle{
    position: relative;
    color:black;
    font-size: 26px;
    left:26%;
    top:-2%;

}
#winddeg{
    position: absolute;
    color:black;
    font-size: 30px;
    left:87%;
    top:30%;
    font-weight:600;
    text-align: center;
    width:5%;
}