body{
    background-color: #333333;
    width:100%;
    height:100%;
    
    
}
.navbar{
    position: absolute;
    background-color: black;
    width: 100%;
    height:75px;
    top:0px;
    left:0px;
}
#city{
    position: relative;
    background-color:#FFFFFF;
    width:20%;
    height:30px;
    border-radius: 30px;
    text-align: center;
    left:75%;
    top:19px;
}

.bar{
    position: absolute;
    background-color:#FFFFFF;
    width:30%;
    height:50px;
    border-radius: 20px;
    left:15%;
    top:10px;
}

#Title{
    position:absolute;
    font-size: 35px;
    color:white;
    left:1%;
    bottom:0.01px;
    font-family: Garamond, serif;
 
}

#home{
    position: absolute;
    top:6px;
    font-size:26px;
    color:black;
    left:4px;
    background-color:#FFFFFF;
    border-width:2px;
    border-radius: 20px 0px 0px 20px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 560;
    border-left: #333333;
    border-top: #333333;
    border-bottom: #333333;
    width:16%;
}
#weatherbut{
    position: absolute;
    top:6px;
    font-size:26px;
    color:black;
    left:17%;
    background-color: #FFFFFF;
    border-style: none;
    border-radius: 20px;
    font-family:'Times New Roman', Times, serif ;
    font-weight: 560;
}
#aqibut{
    position: absolute;
    top:6px;
    font-size:25px;
    color:black;
    left:17%;
    background-color: #FFFFFF;
    border-style: none;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 560;
}

#greet{
    font-size:30px;
    color:white;
    position:absolute;
    top:10%;
    left:15px;
    font-family:serif;
}

.weather{
    position: absolute;
    background-color: #CCCCCC;
    width:77%;
    height:40%;
    border-radius: 25px;
    left:11.5%;
    top:35%;
}
.weather2{
    position: absolute;
    background-color: #CCCCCC;
    width:77%;
    height:40%;
    border-radius: 25px;
    left:11.5%;
    top:83%;
}
.weather1{
    position: absolute;
    background-color: #CCCCCC;
    width:77%;
    height:40%;
    border-radius: 25px;
    left:11.5%;
    top:106%;
}

.qContainer{
    position: absolute;
    background-color: #333333;
    width:60%;
    height:10%;
    left:18%;
    top:23%;
    position:absolute;
    font-size:18px;
    color:white;
    display:flex;
    justify-content: center;
    text-align: center;
}
#quote{
   align-self: baseline;
}
#author{
    align-self: flex-end;
}
#search{
    position:absolute;
    background-color: black ;
    border:none;
    left:96%;
    top:26%;
}
#search svg{
    fill:white;
}

#cityName{
    position: relative;
    top:5px;
    text-align: center;
    font-size: 32px;

}

#temp{
    position:absolute;
    font-size:115px;
    color:black;
    left:16%;
    top:28%;
    font-weight: 500;
    width:9%;
    text-align: right;

}
#deg{
position:absolute;
font-size: 57px;
font-weight: 600;
left:25%;
top:33%;
}
#cel{
color:#333333;
font-size:47px;
position:absolute;
left:25%;
top:48%;
}
#feels{
    position: absolute;
    color:black;
    font-size: 20px;
    top:68%;
    left:16%;
   
}
#feelsLike{
    position: absolute;
    color:black;
    font-size: 20px;
    top:68%;
    width:1.62%;
    left:24.5%;
    text-align:right;
}
#degcel{
    position: absolute;
    color:black;
    font-size: 20px;
    top:68%;
    left:26%;
}
#time{
    position: absolute;
    color:black;
    font-size: 14px;
    right:3%;
    top:10px;
    font-size:25px;
}

#humidity{
    position: absolute;
    color:black;
    font-size: 21px;
    right:35%;
    top:50%;
    font-weight:600;
    
}

#wind{
    position: absolute;
    color:black;
    font-size: 21px;
    right:39%;
    top:30%;
    font-weight:600;
}
#aqi{
    position: absolute;
    color:black;
    font-size: 21px;
    right:39%;
    top:70%;
    font-weight:600;
    width:5%;
    text-align: left;
    
}
#humidval{
    position: absolute;
    color:black;
    font-size: 21px;
    right:32%;
    top:50%;
    
}

#windval{
    position: absolute;
    color:black;
    font-size: 21px;
    right:35%;
    top:30%;
}
#aqival{
    position: absolute;
    color:black;
    font-size: 21px;
    right:9%;
    top:70%;
    width:30%;
    text-align: left;
}
#km{
    position: absolute;
    color:#333333;
    font-size: 21px;
    right:30%;
    top:30%;
    font-weight: bolder;
}
#percent{
    position: absolute;
    color:#333333;
    font-size: 21px;
    top:50%;
    right:30%;
    font-weight: bolder;
}

#aqimg{
    width:1164px;
    height:655px;
    border-radius:20px ;
    position:absolute;
    left:16%;
    top:15%;
}